* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.botonAdd{
    padding: 0.7rem;
    font-size: 18px;
    width: 50%;
    align-items: center;
    margin: auto ;
    margin-bottom: 2rem;
    background-color: #6aaa91;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    }

.botonAdd:hover {
    background-color: #3c5f51;
    color: white;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lista-carrito{
    margin-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 28px;
}   

.espaciado{
    margin-top: 6rem;
}


.carritoIcon{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
    align-items: right;
    align-self: flex-end;
    width: 80px;
    height: 80px;
}


.icon{
    width: 80px;
    height: 80px;
    margin-right: 2rem;
}
header{
    display: flex;
    align-items: center;
    background-color: #6aaa91;
    padding: 3rem;
    text-align: left;
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.titulo{
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;

}

.lista-productos {
    display: grid;
    grid-template-columns: 1fr; 
    padding: 40px;
    gap: 20px; 
}

@media (min-width: 600px) {
    .lista-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .lista-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}




.bloque {
    border: 1px solid #ccc;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.nombre {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.bloque > div > div {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.bloque > div > div:last-child {
    border-bottom: none;
}

.imgComida {
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.precio {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
}

.descripcion {
    margin: 0;
    padding: 10px;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}